

nav {
    background-color: #cd7f32;
}

.navbar-brand {
    font-family: 'Viga', sans-serif;
}

.navbar-brand:hover {
    color: black;
}

.nav-item {
    padding: 10px;

}

nav a {
    color: black;
}

.nav-item a:hover {
    color: white;
    border: .5px white solid;
}

.jumbotron {
    background-image: url(../images/adult-beans-beautiful-266755.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}


.btn {
    background-color: #cd7f32;
    border: none;
    padding: 20px;
    color: black;
}

.btn:hover {
    background-color: black;
}

.btn-2 {
    background-color: black;
    color: white;
}

.display-4 {
    font-family: 'Viga', sans-serif;

}

.display-4, .lead {
    color: black;
}

.featured-products h2 {
    text-align: center;
    padding: 20px;
    font-family: 'Viga', sans-serif;

}

footer {
    background-color: black;
    position: static;
    bottom: auto;
    padding: 10px;
    text-align: center;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer li {
    color: white;
    list-style-type: none;
    padding: 10px;
}

footer li:hover {
    color: white;
    border: .5px white solid;
    
}

footer a:hover {
    text-decoration: none;
}

.social {
    text-align: center;
}
